# ###############################################################################################
# EditorConfig helps developers define and maintain consistent coding styles between different editors and IDEs.
# Ref:
#      http://editorconfig.org/
# Note:
#      Some editors required to install plugin such as eclipse, notepad++, Visual Studio COde, Xcode etc.
# ###############################################################################################


root = true

[*]
charset = utf-8
indent_style = tab
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# 4 space indentation (pep8)
[*.py]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
