#########################################################################################
# Limitless Virtue LLc .gitignore file to support development using github
# Global gitignore
#
# Use: git check-ignore -v * to check which file specifies the rule.
#
#########################################################################################

#########################################################################################
# Microsoft Office
# Covers..........: Microsoft Office temporary files
# References......:
#        https://github.com/github/gitignore/blob/master/Global/MicrosoftOffice.gitignore
#########################################################################################
*.tmp

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

#########################################################################################
# Microsoft Windows
# Covers..........: Windows thumbnail cache files
# References......:
#           https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
#########################################################################################

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

#########################################################################################
# Mac Os
# Covers..........: Mac Os
# References......:
#           https://github.com/github/gitignore/blob/master/Global/macOS.gitignore
#########################################################################################

# General
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#########################################################################################
# Linux
# Covers..........: Linux
# References......:
#           https://github.com/github/gitignore/blob/master/Global/Linux.gitignore
#########################################################################################

*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*
